/*.App {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/

.floating-button, .floating-button-clicked {
    text-decoration: none;
    margin-left: 40%;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 333px;
    height: 97px;
    border-radius: 100px;
    border: 1px solid #D35400;
    color: #FFFFFF;
    background: #2C3E50;
    transition: .1s;
}

.floating-button-clicked {
    background: #D35400;
}

.floating-button:hover {
    border: 5px solid #D35400;
}



.IndexBlock1, .IndexBlock2, .IndexBlock3{
    height: 1017px;
}

.IndexBlock4 {
    height: 1361px;
}

  .IndexBlock1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
}

.IndexBlock1-p1 {
    font-size: 64px;
    line-height: 75px;
}

.IndexBlock1-p1:first-letter {
    color: #D35400;
}

.IndexBlock1-p2 {
    font-size: 24px;
    line-height: 28px;
}

.IndexBlock2 {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}
.IndexBlock2-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.IndexBlock2-p2, .IndexBlock2-p3 {
    font-size: 24px;
    line-height: 28px;
    margin: 20px;
}

.IndexBlock2-p1:first-letter {
    color: #D35400;
}

.IndexBlock2-algorithm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 200px;
    font-size: 24px;
    line-height: 28px;
}
.IndexBlock2-algorithm2 {
    padding: 100px;
}
.IndexBlock3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}

.IndexBlock3-p2 {
    color: #D35400;
}

.IndexBlock4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    padding: 20px;
}

.IndexBlock4-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 64px;
    line-height: 75px;
}

.IndexBlock4-p1 {
    padding: 50px;
}

.IndexBlock4-p1:first-letter {
    color: #D35400;
}

.IndexBlock4-p2 {
    font-size: 36px;
    line-height: 42px;
    padding: 3px;
}

.Line-2 {
    width: 22%;
    border: 1px solid #808080;

}

.Disciplines {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 100px;
}

.Discipline-1, .Discipline-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 530px;
    height: 609px;
    background: #D35400;
    border-radius: 10px;
    font-size: 48px;
    line-height: 56px;
}
.Discipline-2 {
    margin-left: 250px;
}

.floating-button-2, .floating-button-2-clicked {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-size: 36px;
    line-height: 42px;
    width: 333px;
    height: 97px;
    border-radius: 100px;
    border: 1px solid #D35400;
    color: #FFFFFF;
    background: #2C3E50;
    text-align: center;
    transition: .1s;
}

.floating-button-2-clicked {
    background: #D35400;
}

.floating-button-2:hover {
    border: 5px solid #D35400;
}