.tasks-section {
    min-height: 100vh;
}

.tasks__title {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.tasks__cards-container {
    margin-top: 96px !important;
}


.tasks__card-wrap {
    display: flex;
    justify-content: center;
}

.task__card {
    width: 500px;
    height: 600px;
    background: #34495E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(41, 128, 185, 0.25);
    border-radius: 10px;
}

.task__card-element {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.task__card-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task__card-section {
    margin: 5px 5px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-decoration: underline;*/
}

.task__card-section:hover {
    transform: translateX(10px);
    transition: .5s;
}

.task__card-section_arrow {
    height: 24px;
}

.task__card-buttons {
    display: flex;
    width: 75%;
    height: 100px;
    align-items: center;
}

.task__card-button {
}


/*definitions*/

.definitions {
    width: 100%;
    /*TODO: убрать*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.definitions__wrap {
    margin-top: 100px;
    min-height: 80%;
    width: 75%;
    background: #34495E;
    color: white;
    box-shadow: 0 4px 4px rgba(41, 128, 185, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.definitions__header {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.definitions__accordions {
    margin-top: 100px;
    width: 90%;
}

.definitions__accordion {
    background: transparent !important;
    color: white !important;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    box-shadow: none !important;
}

.definitions__accordion-summary {
    background: transparent !important;
}

.definitions__accordion-summary_text {
    font-size: 24px !important;
}

.definitions__accordion-details {
    background: transparent !important;
}

.definitions__accordion-details_text {
    font-size: 24px !important;
}

.button__next-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.button__next-wrap {
    width: 200px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.theme_header-text {
    font-size: 48px;
    color: white;
}

.not-found__wrap {
    text-align: center;
}

.expand-icon {
    color: white;
}


/*formulas*/

.formulas {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    margin-top: 80px;
}

.formulas__wrap {
    margin-top: 100px;
    width: 75%;
    background: #34495E;
    color: white;
    box-shadow: 0 4px 4px rgba(41, 128, 185, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
}

.formulas__header {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.formulas-main {
    margin-top: 120px;
}

.formula {
    display: flex;
    justify-content: center;
    font-size: 24px;
}



/*examples*/

.examples {
}


/*test*/

.test {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    margin-top: 80px;
    font-size: 24px;
}

.test_wrap {
    margin-top: 100px;
    width: 75%;
    background: #34495E;
    color: white;
    box-shadow: 0 4px 4px rgba(41, 128, 185, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
}

.test__header {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.test__description {
    width: 80%;
    margin-top: 80px;
}

.test-container {
    margin-top: 75px !important;
    width: 80%;
}


/*test__results*/

.test__result {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    margin-top: 80px;
    font-size: 24px;
    min-width: 50%;
}

.test__result-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    min-width: 400px;
}

.test__result-numbers_circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
}

.test__result-numbers {
    font-size: 36px;
}

.test__result-circles {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}